body  {
    width: 60%;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom: #333030 2px solid;
    border-top: #333030 2px solid;
    padding: 14px 0;
    margin: 0 0 20px 0;
    
}

.preview{
    background-color: #c2b895;
    padding: 16px;
    margin-bottom: 8px;
}

.ingredients-container {
    background-color: #cac3a8;
    padding: 16px;
    margin-bottom: 8px;
}

.steps-container {
    background-color: rgb(216, 211, 193);
    padding: 16px;
    margin-bottom: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}